@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
$font-family-base: 'Raleway', sans-serif;

$primary: #6f42c1;
$border-radius: 0;

@import '../node_modules/bootstrap/scss/bootstrap.scss';